pbr
six>=1.7.0
pycparser==2.13
tempest==11.0.0
pywinrm
beautifulsoup4
oslo.config
python-keystoneclient
python-heatclient
cherrypy
git+https://github.com/cloudbase/arestor.git@master#egg=arestor-0.1.0
