[argus]
# The default username which can connect to the instance.
# It should be created when the image is created.
default_ci_username = CiAdmin

# The password for the default username.
default_ci_password = Passw0rd

# The username which will be created by cloudbaseinit.
created_user = Admin

# The number of plugins of cloudbaseinit which are expected to run
expected_plugins_count = 13


# The group where the created user can be found
group = Administrators


# The id of the image you want to use for testing.
image_ref = <none>

# The flavor which should be used for the testing.
# Note that there's no check to see that a flavor is enough
# for an image.
flavor_ref = <none>

# A private key file, for SSH access to remote host
# (and used for nova boot)
path_to_private_key = <none>


# Activates debugging behaviour.
# When tests fails, a console with pdb will be activated
# instead of failing. sys.exc_info() will be available as 'exc'
